.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.home_row{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}
.home_imgSlide1 img{
    z-index: -1;
    position: relative;
    margin-bottom: -150px;
    width: 100vw;
    mask-image: linear-gradient( rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0));
}